@model ProductsViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3>Filter By</h3>
            @await Html.PartialAsync("_TeamsDropdownMenuPartial", Model.Teams,
           new ViewDataDictionary(this.Vi‌​ewData) {
              {
                  "ControllerName", "MensTeamProducts"
              } } )

            <br />
            <br />
            <div>Brands </div>
            <hr />

            <form method="post" asp-controller="@Model.Page.ControllerName" asp-action="SelectBrand">
                @await Html.PartialAsync("_BrandsCheckBoxPartial", Model.Brands)
            </form>
            <hr />
        </div>
        <div class="col-sm-10">
            <h3>Nba Store Men's Gear</h3>
            <hr />
            @await Html.PartialAsync("_SortDropdownMenuPartial", Model.Page)
            <hr />
                @await Html.PartialAsync("_ProductsViewPartial", Model.Products)
            <br />
            @await Html.PartialAsync("_NavPartial", Model.Page)
        </div>
    </div>
</div>
