@page "{id:guid}"
@model WaitConfirmationModel
@{
}

<h2>Confirm Your Email</h2>
<p>You're almost done. Please look for a confirmation email fron us in your <strong>@Model.UserEmail</strong> inbox,
    and then click the confirmation link in that email.</p>
